/*! HTML5 Boilerplate v6.0.1 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body {
    font-family: 'Helvetica Neue', sans-serif;
    background: #FDFDFE;
}

.spinner-window {
    position: absolute;
    width: 100%;
    height: 100%;

    background: #fff;
    opacity: 1;

    animation: fadeout 1s linear 0.5s 1 normal forwards;
}

.spinner {
    width: 5em;
    height: 5em;

    position: absolute;
    left: 0; right: 0;
    margin: 180px auto;

    border: 3px solid #006CEA;
    border-left: 3px solid transparent;
    border-radius: 5em;

    animation: rotate 0.7s infinite linear;
}

@keyframes rotate {
    from { transform: rotate(0deg); }
    to { transform: rotate(365deg); }
}

@keyframes fadeout {
    from { opacity: 0.7; }
    to { opacity: 0; }
}

.payment-result {
    width: 635px;
    height: 468px;

    margin: 180px auto;

    display: flex;
    justify-content: center;
    position: relative;

    letter-spacing: 1px;

    box-shadow: 0 2px 60px 0 rgba(145,144,144,0.30);
}

.payment-result .info {
    width: 250px;
    height: 100%;

    padding: 0 25px 0 25px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;

    color: #ffffff;

    background-image: linear-gradient(-180deg, #1982FC 0%, #006CEA 100%);
    border-radius: 5px 0 0 5px;
}


.info > :last-child,
.info > :first-child {
    padding: 25px 0 25px 15px;
}
.info > :last-child {
    border-bottom: none;
}

.info__row {
    padding: 20px 0 20px 15px;
    display: flex;
    border-bottom: 1px solid #3B92F8;
}

.info__row__title {
    font-size: 13px;
    font-weight: 300;
}

.info__row__title-header {
    font-size: 15px;
    font-weight: 300;
}

.info__row__content {
    margin-top: 5px;

    font-size: 16px;
    font-weight: 500;
}

.info__row__content-header {
    margin-top: 5px;

    font-weight: 500;
    font-size: 18px;
}

.info__row__icon {
    padding-right: 15px;
}


.payment-result .message {
    width: 385px;
    height: 100%;

    padding: 0 20px 0 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    background-image: linear-gradient(-180deg, #FEFEFE 0%, #F9FBFC 50%, #FEFEFE 100%);
    border-radius: 0 5px 5px 0;
}

.message__header {

    padding: 30px 15px 30px 15px;
    box-sizing: border-box;

    display: flex;
    justify-content: space-between;
    align-items: center;

    border-bottom: 1px solid #D1DEE4;
}

.message__header__extra {
    color: #8C98A4;
    font-size: 14px;
    font-weight: 400;
}

.message__content {
    box-sizing: border-box;
    padding: 0 15px 0 15px;
}

.message__content p {
    margin-top: 0;

    font-weight: 300;
    font-size: 16px;
    color: #6E7882;
    letter-spacing: 1px;
    line-height: 24px;
}

.message__content p span.important {
    font-weight: 500;
}

.message__footer {
    padding: 20px 15px 20px 15px;
    box-sizing: border-box;

    display: flex;
    justify-content: space-between;
    align-items: center;

    font-size: 13px;
    color: #6E7882;
    letter-spacing: 0;
    border-top: 1px solid #D1DEE4;
}

.message__footer .link {
    font-size: 13px;
    color: #117BF6;
    letter-spacing: 0;
    text-decoration: none;
}

.button {
    padding: 12px 20px 12px 20px;
    box-sizing: border-box;

    display: inline-block;

    border: 1px solid #157FF9;
    border-radius: 5px;
    color: #157FF9;
    cursor: pointer;
    text-decoration: none;
}


.button .icon {
    padding-right: 10px;
}

.button:hover, .button:hover * {
    background: #ECF5FF;
}

.centered {
    display: flex;
    justify-content: center;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    -webkit-clip-path: inset(50%);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; /* 1 */
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    -webkit-clip-path: none;
    clip-path: none;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
